---
---

@import "{{ site.theme }}";

.portfolio {
  display: flex; 
  flex-direction: row;
}

.project {
  transition: transform .2s;
}

.project:hover {
  transform: scale(1.05);
}

.courses-table {
  text-align: center;
}

.class-title {
  font-weight: bold;
}
